<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %> </title>
</head>
  <body style="width: 100%; height: auto; display: flex; flex-direction: column; align-items: center;">

      <div class="header_parent_container">
        <h1> Mini Message Board </h1>
      </div>

      <% for(const msg of messages) {%>
        <li class="message_parent_container">
          <h1> <%= msg.user %> </h1>
          <h2> <%= msg.text %>  </h2>
          <h3> <%= msg.added %>  </h3>
        </li>
      <% } %>

      <form class="message_parent_container" method="post" action="/">
        <h1> New message </h1>
        <input type="text" name="user" id="user" placeholder="Name" required>
        <input type="text" name="text" id="text" placeholder="Enter a message" required>
        <input type="submit" value="submit">
    </form>

  </body>
</html>